{% extends 'base.html.twig' %}

{% block title %}Fiche Stock{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Fiche Stock</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ficheStock in fichesStock %}
                    <tr>
                        <td>{{ ficheStock.date|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('app_fiche_stock_details', {'id': ficheStock.id}) }}" class="btn btn-primary">View Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
